@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px; /* Espacio entre imágenes opcional */
  max-width: 100%; /* O un ancho fijo si lo prefieres */
  align-items: flex-start;
}
.container img {
  display: block;
  z-index: 999;
}

.container img {
    margin-top: 5%;
}

#typer {
  font-size: 24px;
  white-space: pre;
  font-weight: 900;
  color: white;
  font-family: "Lato", sans-serif;
  text-shadow: 0px 2px 2px #000000;
  margin-top: 15%;
}

.typer-cursor {
  display: inline-block;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
